@use '../../app/styles/utils' as utils;

$content-width-vw: 80vw;
$content-max-width: 1200px;
$slide-width: 330px;
$button-width: 44px;
$button-offset: 30px;

$content-left-edge: calc((100vw - min(#{$content-width-vw}, #{$content-max-width})) / 2);

.productDetailPage {
  position: relative;
  padding: 60px 0;
  min-height: 70vh;
}

.header {
  width: 100%;
  align-items: baseline;
  position: relative;
  padding-left: utils.auto-clamp(30, 250);
  padding-right: utils.auto-clamp(60, 400);
}

.productName {
  max-width: 550px;
  width: 100%;
  text-align: right;
  font-size: 56px;
  color: #000;
  font-weight: 400;
  margin-top: -40px;
  margin-left: auto;
}

.creature {
  font-size: 28px;
  color: #000;
  font-weight: normal;
}

.productViewContainer {
  display: flex;
  width: 100%;
  z-index: 5;
  pointer-events: none;
  justify-content: center;
}

.productInfoOverlay {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 120px 40px 40px 40px;
  box-sizing: border-box;
  pointer-events: auto;
  width: fit-content;
}

.addToCartButton {
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-text);
  font-size: 16px;
  color: #000;
  padding: 10px 0;
  pointer-events: auto;
  position: relative;
  z-index: 1000;

  &:hover { opacity: 0.8; }
}

.removeFromCartIcon {
  rotate: 45deg;
}

.productSpecs {
  padding-left: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 150px;
  color: #000;
  max-height: 630px;
  width: utils.auto-clamp(380, 750);
}

.specItemSizeLabel {
  text-align: right;
  padding-right: 15px;
}

.specItemSizeValue {
  padding-left: 20px;
  font-size: 20px;
}

.specItemWightLabel {
  text-align: right;
  font-size: 20px;
}

.specItemWightValue {
  font-size: 20px;
}

.specItemMaterialLabel {
  text-align: right;
  padding-right: 25px;
  font-size: 20px;
}

.specItemMaterialValue {
  padding-left: 20px;
  font-size: 20px;
}

.specItemPriceLabel {

  justify-content: right;
  word-break: break-all;
  font-size: 32px;

  div {
    width: 55px;
    text-align: right;
    margin-left: auto;
    margin-right: 40px;
  }
}

.specItemPriceValue {
  text-align: center;
  font-size: 32px;
  padding-top: 20px;
}

.swiperLayer {
  padding-left: utils.auto-clamp(30, 250);
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index: 1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: visible;
}

.productSwiper {
  width: 100vw;
  max-height: 100%;
  overflow: visible !important;
  :global(.swiper-wrapper) {
    overflow: visible;
    align-items: flex-start;
  }
}

.productSlide {
  width: utils.auto-clamp(100, 355);
  height: auto;
  flex-shrink: 0;
  box-sizing: border-box;

  .slideImageWrapper {
    width: utils.auto-clamp(100, 355);
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background-color: #eee;

    img {
      display: block;
      width: utils.auto-clamp(100, 355);
      height: fit-content;
      object-fit: cover;
      object-position: center center;
    }
  }
}

.cartControl {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
}

.backButton {
  font-family: var(--font-text);
  font-size: utils.auto-clamp(24, 32);
  font-weight: normal;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  align-self: flex-end;
  width: fit-content;
  margin: auto utils.auto-clamp(30, 120) utils.auto-clamp(30, 120) auto;
}

.customSwiperButton {
  filter: invert(1);
  position: absolute;
  top: 40%;
  z-index: 20;
  width: $button-width;
  height: $button-width;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.customSwiperButtonPrev {
  rotate: 180deg;
  left: utils.auto-clamp(10, 150);
}

.customSwiperButtonNext {
  right: utils.auto-clamp(60, 380);
}