.root {
  font-family: var(--font-text);
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  padding-bottom: 80px;
}

.title {
  padding-top: 120px;
  padding-left: 150px;
  font-size: 64px;
  margin-bottom: 60px;
}

.swiper {
  margin: 80px 150px 0;
  border-top: 1px solid black;
  padding: 40px 0;
}