@use '../../app/styles/utils' as utils;

.footerContent {
  display: flex;

}

.image, .image2 {
  width: utils.responsive-size(1375);
}

.image2 {
  filter: grayscale(1);
}

.footerText {
  padding: utils.responsive-size(120) utils.responsive-size(265);
  width: fit-content;
  font-size: utils.responsive-size(40);
  margin: 0 auto;
  font-family: var(--font-text);
}

.footerLine {
  display: flex;
  justify-content: space-between;
  padding: utils.auto-clamp(15, 40) utils.responsive-size(130);
}

.links {
  display: flex;
  align-items: center;
  gap: utils.responsive-size(128);
  font-family: var(--font-text);
  font-size: utils.responsive-size(40);

  div {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

.msk {
  align-self: center;
  text-align: right;
  font-family: var(--font-text);
  font-size: utils.responsive-size(40);
}

.logo {
  background-color: black;
  width: utils.responsive-size(196);
  height: utils.responsive-size(196);
  cursor: pointer;
  filter: invert(1);
}

.linkDesc, .linkMob {
  font-family: var(--font-text);
  text-decoration: none;
  color: white;
  margin: 20px auto;
  width: fit-content;
  cursor: pointer;
}

.linkDesc {
  display: block;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.linkMob {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.footerBtn {
  border: none;
  border-radius: 10px;
  background: black;
  color: white;
  font-family: var(--font-text);
  font-size: 24px;
  padding: 12px 20px 10px 20px;
  margin: 10px auto;
  width: fit-content;
  cursor: pointer;
}