@use '../../app/styles/utils' as utils;

.root {
  padding: 20px;
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
}

.footerContent {
  display: flex;
}

.footerCatalogDesctop {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  font-size: utils.responsive-size(40);
  padding: 20px;

  @media screen and (max-width: 600px) {
    text-align: center;
    font-size: 10px;
    padding: 20px 10px 0 10px;
  }
}

.image, .image2 {
  width: utils.responsive-size(1375);
}

.image2 {
  filter: grayscale(1);
}

.footerText {
  padding:  5px 0 0 0;
  width: fit-content;
  font-size: utils.responsive-size(40);
  margin: 0;
  font-family: var(--font-text);

  @media screen and (max-width: 600px) {
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 14px;
    padding: 10px 50px;
  }
}

.footerLine {
  display: flex;
  justify-content: space-between;
  padding: 0 utils.responsive-size(130);

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 20px;
    padding-top: 30px;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: utils.responsive-size(100);
  font-family: var(--font-text);
  font-size: utils.responsive-size(40);

  div {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: fit-content;
    color: black;
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }
}

.linksText {
  padding-top: 5px;
  margin-left: 3px;
  color: black;
  text-decoration: none;
}

.msk {
  align-self: center;
  text-align: right;
  font-family: var(--font-text);
  font-size: utils.responsive-size(40);

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

.logo {
  background-color: black;
  width: utils.responsive-size(196);
  height: utils.responsive-size(196);
  cursor: pointer;
  filter: invert(1);

  @media screen and (max-width: 600px) {
    display: none;
    width: 60px;
    height: 60px;
  }
}

.linkDesc, .linkMob {
  font-family: var(--font-text);
  text-decoration: none;
  color: white;
  width: fit-content;
  cursor: pointer;
}

.linkDesc {
  display: block;
  margin: 20px 0;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.linkMob {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
    font-size: 14px;
    margin: 7px auto;
  }
}

.footerBtn {
  border: none;
  border-radius: 10px;
  background: black;
  color: white;
  font-family: var(--font-text);
  font-size: utils.responsive-size(40);
  padding: 12px 20px 10px 20px;
  width: fit-content;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.logoMobile {
  display: none;

  @media screen and (max-width: 600px) {
    display: block;
    width: 40px;
    height: 40px;
    background-color: black;
    filter: invert(1);
  }
}

.mobileFooterBottomLine {
  display: flex;
  justify-content: space-between;
}